<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Mon Portfolio{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('css/base.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Tilt+Neon&display=swap" rel="stylesheet">

    <script src="{{ asset('js/base.js') }}" defer></script>

    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}

</head>
<body>
    <!-- Navigation -->
    <header>

            <nav class="navbar">
                <div class="nav-container">
                    <!-- Logo -->
                    <a href="{{ path('home') }}" class="nom_navbar">Amandine Marchand</a>
                    <!-- Menu -->
                    <ul class="nav-menu">
                        <li><a href="{{ path('home') }}">Accueil</a></li>
                        <li><a href="{{ path('about') }}">À propos</a></li>
                        <li><a href="{{ path('services') }}">Services</a></li>
                        <li><a href="{{ path('realisations') }}">Réalisations</a></li>
                        <li><a href="{{ path('contact') }}">Contact</a></li>
                    </ul>

                    <!-- Hamburger Icon -->
                    <div class="menu-toggle" id="menuToggle">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>

                </div>
            </nav>
    </header>

    <!-- Contenu principal -->
    <main>
        {% block body %}
        <!-- Chaque page remplacera ce contenu -->
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <div class="footer-container">

            <div class="footer-nav-reseau">
                <div class="footer-logo">
                    <a href="{{ path('home') }}">Amandine Marchand</a>
                </div>

                <div class="footer-menu">
                    <ul>
                        <li><a href="{{ path('home') }}">Accueil</a></li>
                        <li><a href="{{ path('about') }}">À propos</a></li>
                        <li><a href="{{ path('services') }}">Services</a></li>
                        <li><a href="{{ path('realisations') }}">Réalisations</a></li>
                        <li><a href="{{ path('contact') }}">Contact</a></li>
                    </ul>
                </div>

                <div class="footer-social-media">
                    <ul>
                        <li><a href="www.linkedin.com/in/amandine-marchand-a86569242">LinkedIn</a></li>
                        <li><a href="https://github.com/marchandamandine">GitHub</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="https://www.youtube.com/@amandineetarnaudvtt">YouTube</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer-mentions-legales">
                <p>&copy; 2024 Amandine - Tous droits réservés.</p>
                <ul>
                    <li><a href="#">Mentions légales</a></li>
                    <li><a href="#">Politique de confidentialité</a></li>
                </ul>
            </div>
        </div>

    </footer>


</body>
</html>
